{% extends "header.html"%}

{% load staticfiles %}

{% block tittle %}Inicio de Sesión{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}  

{% block allcontent %} 
  <div class="website-tittle"> <h3>Inicio de Sesión</h3></div>

  {% if err == 1 %}
    <div class="error-div">
    <p>Datos de inicio de sesión invalidos</p>
    </div>
  {% endif %}

  {% if err == 2 %}
    <div class="error-div"> 
    <p>Debe rellenar los campos obligatorios</p>
    </div>
  {% endif %}

  <form method="post" action="/login" class="login">
    {% csrf_token %}
    <p>
      <label for="login">Usuario</label>
      <input type="text" name="login" id="login" required />
    </p>

    <p>
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password" maxlength="20" required />
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>
  </form>
{% endblock %} 
